# required for evmapy
CONFIG_INPUT_UINPUT=y

# required for squashfs + overlayfs
CONFIG_NLS_ISO8859_1=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_XZ=y

# don't compress modules using xz
# causes boot issues
CONFIG_MODULE_COMPRESS_XZ=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

# The Raspberry Pi GPIO Joystick Driver
CONFIG_MK_ARCADE_RPI=m

# Experimental PiBoy DMG Controller
CONFIG_XPI_GAMECON=m
CONFIG_XPI_GAMECON_XRS=m
