[Desktop Entry]
Version=1.0
Icon=xterm-color_48x48
Exec=xterm -fs 14 -fg white -bg black -sb -rightbar -e bash -ls
Terminal=false
Type=Application
Categories=System;batocera.linux;
Name=xterm
