#!/bin/sh

CONFFILE=multimedia_keys.conf

# hack for odroidgoa models
BOARD_MODEL=$(cat /sys/firmware/devicetree/base/model 2>/dev/null | sed -e s+"[^A-Za-z0-9]"+""+g)
if test -z "${BOARD_MODEL}"
then
    # give an other chance with dmi
    BOARD_MODEL=$(cat /sys/devices/virtual/dmi/id/board_name 2>/dev/null | sed -e s+"[^A-Za-z0-9]"+""+g)
fi

BOARD_CONFFILE=multimedia_keys_${BOARD_MODEL}.conf
if test -e "/etc/triggerhappy/triggers.d/${BOARD_CONFFILE}"
then
    CONFFILE=${BOARD_CONFFILE}
fi

enabled="$(/usr/bin/batocera-settings-get system.multimediakeys.enabled)"
if [ "$enabled" = "0" ];then
    CONFFILE=multimedia_keys_disabled.conf
fi

# system conf
CONFPATH=/etc/triggerhappy/triggers.d/${CONFFILE}

# custom conf
if test -e "/userdata/system/configs/multimedia_keys.conf"
then
    CONFPATH=/userdata/system/configs/multimedia_keys.conf
fi

case "$1" in
    start)
        printf "Starting thd: "
        thd --daemon --triggers ${CONFPATH} --socket /var/run/thd.socket /dev/input/event*
        ;;
    stop)
        printf "Stopping thd: "
        killall -9 thd
        ;;
    *)
        echo "Usage: /etc/init.d/S50triggerhappy {start|stop}"
        exit 1
    ;;
esac

exit 0
